<main class="container mt-15 mb-15">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p>This is a Donut graph to depict the number of COVID-19 cases in 10 countries</p>
 
</nav>
{{yield}}
</main>